body {
    font-family:'Montserrat', sans-serif;;
    width: 100%;
}

.container{
    width: 1160px;
    margin: 0 auto;
}

a{
    color: #FFFFFF;
}

/* Header */

.header{
    background: url("../images/background/section-1(header).jpg") no-repeat fixed;
    background-size: cover;
}

.wrapper-navbar{
    background: rgba(94, 93, 88, 0.6);
}

.navbar{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.logo-icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon:before {
    position: absolute;
    content: "H";
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
}

.logo-text{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.logo-text span{
    font-weight: 700;
    color: #18CFAB;
}

.navbar-items{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    gap:21px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 49px 0;
    text-transform: uppercase;
}

.menu-link{
    position: relative;
    color: rgba(255, 255, 255, 0.6);
}

.menu-link:hover{
    color: #18CFAB;
}

.menu-link:hover::after{
    content: "";
    position: absolute;
    background-color: #18CFAB;
    height: 2px;
    left: 0;
    width: 100%;
    top: 72px;
}

.loup-search{
    fill: rgba(255, 255, 255, 0.6);
}

.loup-search:hover{
    fill: #18CFAB;
}

.menu-link.loup:hover::after{
    top: 68px;
}

.header-intro{
    padding: 250px 0 243px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}

.header-title{
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

.header-title span{
    color: #18CFAB;
}

.header-title.main{
    font-size: 78px;
}

.header-buttons{
    margin-top: 129px;
    display: flex;
    gap: 26px;
}

.btn{
    width: 170px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
    box-shadow: 0 -4px #fff;
    border-radius: 3px;
    border: none;
    padding: 16px 0 16px 0;
    cursor: pointer;
}

.btn.explore-btn{
    background-color: #18CFAB;
}

.btn.purchase-btn{
    background-color: #00CBF6;
}

/* section Options */

.options{
    display: grid;
    grid-template-columns:repeat(4,minmax(100px, 1fr));
    width: 100%;
    text-transform: uppercase;

}

.item-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
}

.item-option:nth-child(odd){
    background-color: #1C2A33;
    color:#18CFAB;
    fill:#18CFAB;
    gap:48px;
    padding: 85px 0 102px 0;
}

.item-option:nth-child(even){
    background-color: #18CFAB;
    color:#FFFFFF;
    fill:#FFFFFF;
    gap: 58px;
    padding: 95px 0 102px 0;
}

/* section Services */

.services{
    padding: 83px 0 91px 0;
}

.block-title{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
}

.block-title::after{
    content: "";
    position: absolute;
    width: 79px;
    display: block;
    height: 1px;
    background-color: #18CFAB;
    box-shadow: 13px 5px #18CFAB;
    margin-top: 24px;
    left: calc(50% - 40px);
}

.tabs-list{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 101px;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color:#717171;
}

.tabs-title{
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    width: 194px;
    cursor: pointer;
}

.tabs-title:hover{
    border: 1px solid #18CFAB;
}

.tabs-title.active-title{
    position: relative;
    background-color: #18CFAB;
    border: none;
    color: #fff;
}

.tabs-title.active-title::after{
    content: ' ';
    background: #18CFAB;
    position: absolute;
    height: 15px;
    width: 15px;
    top: 81%;
    left: 50%;
    transform: rotate(-224deg);
    transform-origin: 50% 50%;
}

.tabs-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs-content-item{
    display: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.tabs-content-item.active-content{
    display: flex;
    gap: 15px;
}

.tabs-img-content{
    width: 193px;
    height: 140px;
}

/* section Purchase */

.purchase{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/background/section-2.jpg") no-repeat fixed center;
    background-size: cover;
}

.purchase-wrapper{
    width: 100%;
    padding: 127px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
}

.purchase-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.purchase-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
}

.purchase-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    padding: 12px 0 62px 0;
}

.btn.purchase-btn-green{
    background-color:  #18CFAB;
}

/* section Work */

.work{
    padding: 95px 0 99px 0;
    background-color: #E9EDEF;
    display: flex;
    justify-content: center;
}

.section-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filter{
    display: flex;
    flex-direction: row;
    padding: 97px 0 71px 0;
}

.filter-element{
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #DADADA;
    padding: 14px 15px 13px 15px;
    cursor:pointer;
}

.filter-element.active-filter{
    border: 2px solid #18CFAB;
}

.filter-element:first-child{
    padding: 14px 28px 13px 27px;
}

.filter-element:last-child{
    padding: 14px 12px 13px 17px;
}

.works-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 285px;
    height: 206px;
}

.item-wrapper:hover .item-image{
    display: none;
}

.item-wrapper:hover .overlay{
    display: flex;
    flex-direction: column;
}

.overlay{
    display: none;
    height: 285px;
    width: 100%;
    background-color: #E9EDEF;
    border-top: 4px solid #18CFAB;
    align-items: center;
    cursor: pointer;
}

.svg-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;
    padding: 46px 0 30px 0;
}

.svg-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.svg-item.link-svg{
    border: 1px solid #18CFAB;
    border-radius: 30px;
}

.svg-item.stop-svg{
    background-color: #18CFAB;
}

.link-icon{
    fill: #18CFAB;
}

.stop-icon{
    fill: #FFFFFF;
}

.overlay-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.overlay-subtitle{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}


.load-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 63px;
    gap: 15px;
    background: #18CFAB;
    border: none;
    margin-top: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}


/* section News */

.breaking-news{
    padding: 82px 0 125px 0;
}

.news{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
}

.news-item{
    display:flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.news-item:hover .news-text{
    background: #F8FCFE;
}

.news-item:hover .news-title{
    color: #18CFAB;
    padding: 0 10px;
}

.news-item:hover .news-data{
    background-color: #18CFAB;
}

.news-image{
    width: 263px;
    height: 208px;
}

.news-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding:0 20px;
}

.news-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin-top: 3px;
}

.news-description{
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    margin-top: -10px;
    padding-left: 4px;
}

.news-description span{
    margin: 0 11px;
}

.news-data{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    right: 0;
}

/* section Reviews */

.reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/background/section-3.jpg") no-repeat fixed center;
    background-size: cover;
}

.reviews-wrapper{
    width: 100%;
    padding: 98px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.block-title.title-reviews{
    color: #FFFFFF;
}

.feedback-wrapper{
    margin-top: 99px;
    display: flex;
    flex-direction: column;
}

.customer-review{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.customer-text{
    margin-top: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}

.customer-subtitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin: 37px 0 50px 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}

.customer-username{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
}

.customer-avatar{
    border-radius: 50%;
    width: 142px;
    height: 142px;
    overflow: hidden;
    box-shadow: 0 0 0 12px rgba(31, 218, 181, 0.2);
}

.photo-customer{
    width: 100%;
    height: 100%;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    padding-bottom: 6px;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    cursor: pointer;
    margin-top: 86px;
}

.arrow:hover{
    background: #18CFAB;
    border: 1px solid #BBBBBB;
}

.arrow.empty:hover{
    background-color: rgba(31, 218, 181, 0.2);
}

.customer-avatar.slider-avatar{
    display: none;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 0 6px rgba(31, 218, 181, 0.2);
    margin-top: 86px;
    cursor: pointer;
}


.customer-avatar.slider-avatar.focus{
    margin-top: 56px;
}

/* section Gallery */

.gallery{
    padding: 108px 0 67px 0;
}

.gallery-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 115px 0 52px 0;
}

.gallery-colum{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.gallery-colum.first-colum{
    justify-content: start;
}

.image-colum1{
    width: 378px;
    height: 263px;
}

.image-colum1:nth-child(3){
    height: 290px;
}

.gallery-colum.second-colum{
    justify-content: center;
}

.image-colum2{
    width: 378px;
}

.gallery-colum.third-colum{
    gap: 16px;
}

.image-colum3{
    width: 364px;
}

.image-colum3:nth-child(2){
    height: 373px;
}

.image-colum3.cells{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.image-colum3-cells{
    height: 92px;
}

.image-colum3-cell:nth-child(3n+1){
    width: 119px;
}

.image-colum3-cell:nth-child(3n+2){
    width: 115px;
}

.image-colum3-cell:nth-child(3n+3){
    width: 124px;
}

.image-colum3-cells:first-child, .image-colum3-cells:nth-child(2){
    width: 180px;
    height: 168px;
}

/* Footer */

.footer {
    background-color: #22353F;
    text-align: center;
}

.copyright{
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
    padding: 48px 0;
}

.copyright a {
    color: #18CFAB;
}




